.our-projects {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 41px;
}

.demo-projects-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 11px;

  &__item {
    position: relative;
    flex: 0 0 30%;
    min-height: 372px;
    display: flex;
    flex-direction: column;
    //max-width: 339px;
    padding: 15px 18px 35px 18px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 23px;
  }

  &__tag {
    width: fit-content;
    padding: 9px 15px;
    background: #F5F5F7;
    border-radius: 10px;
    font-size: 17px;
    line-height: 150.8%;
    color: #333333;
  }

  &__title {
    font-weight: 400;
    font-size: 52px;
    line-height: 63px;
    color: #333333;
    margin: 17px 0;
  }

  &__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 150.8%;
    color: #333333;
  }

  &__usage {
    position: absolute;
    bottom: 15px;
    left: 18px;
    color: #828282;
  }
}