.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;

    &:first-child {
      margin-bottom: 9px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__td {
    position: relative;
    flex: 0 0 25%;
    display: flex;
    justify-content: center;

    &--main {
      flex: 0 0 35%;
      justify-content: flex-start;
    }

    &--title {
      font-weight: 500;
      color: #828282;
    }

    &--bold {
      font-weight: 500;
    }
  }
}
