.our-approuch {
  margin-top: 102px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px 0;

  &__title {
    max-width: 168px;
    font-weight: 400;
    font-size: 22px;
    line-height: 150.8%;
    color: #333333;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0 15px;
  }
}

.method-info-box {
  width: 100%;
  height: 571px;
  background: #E8E8E8;
  border-radius: 23px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 19px 23px 0 19px;


  &__title {
    font-weight: 400;
    font-size: 52px;
    line-height: 63px;
    color: #333333;

    &--white {
      color: #FFFFFF;
    }
  }

  &__text {
    max-width: 389px;
    font-weight: 400;
    font-size: 22px;
    line-height: 150.8%;
    color: #828282;

    &--abslt-bottom {
      position: absolute;
      bottom: 4%;
      left: 2%;
    }

    &--small {
      color: #333333;
      font-size: 17px;
    }

    &--white {
      color: #FFFFFF;
    }
  }

  &__item {
    max-height: 100%;
    position: relative;
    flex: 0 0 48%;
    display: flex;
    flex-direction: column;
    gap: 9px 0;

    &--padding-top-20px{
      padding-top: 20px;
    }
  }

  &--margin-top {
    margin-top: 21px;
  }

  &--blue {
    background: #175CF5;
    color: #FFFFFF;
  }

  &--dark {
    background: #333333;
  }
}

.tabs-panel {
  overflow: hidden;
  position: relative;
  width: 377px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px 0;
  background: #ffffff;
  border-radius: 23px 23px 0 0;
  padding: 18px 25px 0 25px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150.8%;
  color: #333333;

  &__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 150.8%;
    color: #333333;
  }

  &__text {
    color: #828282;

    &--margin-40px {
      margin-top: 40px;
    }
  }

  &--no-background {
    background: none;
  }

  &--no-padding {
    padding: 0;
  }

  &--lght-silver {
    background: #E8E8E8;
  }

  &--padding-8px {
    padding: 8px;
  }
}

.radio-menu {
  position: relative;
  top: 0;
  display: flex;
  justify-content: flex-start;
  padding: 3px;
  background-color: #E8E8E8;
  border-radius: 11px;
  gap: 0 5px;

  &__item {
    position: relative;
    width: 103px;
    min-height: 45px;
    padding: 9px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s ease-in-out;

    &:hover {
      background: #b3b3b3;
      transition: 0.3s ease-in-out;
    }

    &--active {
     &:hover {
       background: none;
     }
    }
  }

  &__line {
    position: absolute;
    top:50%;
    left: 150px;
    transform:translate(-50%, -50%);
    width: 1px;
    height: 70%;
    background: rgba(0, 0, 0, 0.2);
}

  &__plate {
    position: absolute;
    left: 3px;
    width: 103px;
    height: 45px;
    background: #FFFFFF;
    box-shadow: -6px -6px 4px rgba(255, 255, 255, 0.16), 6px 6px 11px rgba(51, 51, 51, 0.08);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }
}

.design-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px 0;

  &__item {
    width: 100%;
    padding: 12px 17px;
    background: #FFFFFF;
    border-radius: 23px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 25px;

  }

  &__checkbox {
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid #175CF5;
    border-radius: 50%;

    &--checked {
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        top:50%;
        left:62%;
        transform:translate(-50%, -50%) rotate(305deg);
        width: 15px;
        height: 2px;
        border-radius: 2px;
        background: #175CF5;
      }
      &:after {
        content: '';
        position: absolute;
        top:60%;
        left:39%;
        transform:translate(-50%, -50%) rotate(322deg);
        width: 2px;
        height: 8px;
        border-radius: 2px;
        background: #175CF5;
      }
    }

    &--unchecked {
      border-color: #FF0200;
      transition: all 0.5s ease-in-out;
    }
  }

  &__title {
    font-weight: 500;
    color: #333333;
  }

  &__text {
    flex: 0 0 80%;
    line-height: 150.8%;
    color: #828282;
    transition: all 0.5s ease-in-out;

    &--transparent {
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
  }

  &__click-bot {
    position: absolute;
    top: 0;
    left: 120%;
    width: 100px;
    height: 50px;
    animation: 2s both bot-click;
  }
}

@keyframes bot-click {
  0% {
    opacity: 0;
    transform: translateX(400%);
  }

  15% {
    opacity: 0;
    transform: translateX(300%);
  }

  75% {
    opacity: 100%;
    transform: translateX(0);
  }

  80% {
    transform: translateX(-20%);
  }

  85% {
    transform: translateX(0);
  }
  95% {
    opacity: 100%;
  }

  100% {
    opacity: 0;
  }

}

.design-process-list {
  width: 100%;
  //height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px 0;

  &__item {
    overflow: hidden;
    width: 100%;
    max-height: 62px;
    padding: 12px 15px;
    background: #FFFFFF;
    box-shadow: -6px -6px 4px rgba(255, 255, 255, 0.16), 6px 6px 11px rgba(51, 51, 51, 0.08);
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    animation: 0.8s both design-list-item-animation-close;
    transition: all 0.5s ease-in-out;

    &--active {
      max-height: 100%;
      animation: 2s both design-list-item-animation-open;
      transition: all 0.5s ease-in-out;
      cursor: default;
      margin: 7px 0 7px 0;

      &:first-child {
        margin: 0 0 7px 0;
      }
    }
  }

  &__title {
    position: relative;
    color: #333333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 14px;

    &:before {
      content: '';
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 1px;
      background: #BABABA;
      opacity: 0;
    }

    &--underline {
      &:before {
        opacity: 100%;
      }
    }
  }

  &__text {
    max-width: 85%;
    line-height: 150.8%;
    color: #828282;
  }

  &__mark {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #175CF5;
    color: #FFFFFF;
    border-radius: 30%;

    &--dark {
      background: #333333;
      transition: background-color 0.5s ease-in-out;
    }
  }
}

@keyframes design-list-item-animation-open {
  from {
    max-height: 62px;
  }

  to {
    //max-height: 100%;
    max-height: 400px;
  }
}

@keyframes design-list-item-animation-close {
  from {
    //max-height: 100%;
    max-height: 400px;
  }

  to {
    max-height: 62px;
  }
}

@media (max-width: 479px) {
  .method-info-box {
    height: 767px;
    padding: 13px 13px 0 13px;
    gap: 40px 0;

    &__item {
      flex: 0 0 100%;

      &--padding-top-20px {
        padding: 0;
      }
    }

    &__title {
      font-size: 35px;
    }

    &__text {
      font-size: 17px;
    }
  }

  .tabs-panel {
    width: 100%;
    padding: 15px 15px 0 15px;

    &--no-padding {
      padding: 0;
    }

    &--padding-8px {
      padding: 8px 8px 0 8px;
    }
  }

  .design-process-list {
    height: 490px;
    overflow: hidden;

    &__text {
      max-width: 100%;
      font-size: 14px;
    }
  }
}
