.footer {
  display: flex;
  flex-direction: column;
  gap: 31px 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 150.8%;
  color: #FFFFFF;
  padding-top: 35px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px 0;
  }
}
