@import 'vars';
@import 'style/fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Inter ,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 1234px;
  margin: 0 auto;
}

.line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #000000;

}

.page {
  overflow: scroll;
  position: relative;
  width: 100%;
  height: calc(100vh - 47px);
  margin-top: 47px;
  display: flex;
  flex-direction: column;
  border-radius: 30px 30px 0 0;
  animation: 0.7s both page-anim;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__item {
    background: #f5f5f7;
    padding: 20px 57px 50px 57px;
    border-radius: 30px;

    &:last-child {
      margin-bottom: 130px;
    }

    &--black {
      background: #000000;
      padding: 35px 0;
    }
  }

  &__banner {
    display: flex;
    flex-direction: column;
    gap: 25px 0;
  }

  &--no-scroll {
    overflow: hidden;
    z-index: 10;
  }
}

@keyframes page-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.link {
  width: fit-content;
  position: relative;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #828282;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  & span {
    margin-top: 5px;
    display: inline-block;
    position: relative;
    width: fit-content;

    &::before {
      content: '';
      position: absolute;
      bottom: -5px;
      width: 100%;
      height: 3px;
      border-bottom: 1px solid #828282;
      transition: all 0.3s ease-in-out;
    }

    &:first-child {
      margin-top: 0;
    }
  }



  &:hover {
    color: #333333;

    & span {
      &::before {
        border-color: #333333;
      }
    }
  }

  &--blue-dtd {
    color: #175CF5;

    & span {
      &::before {
        bottom: -2px;
        border-bottom: 1px dashed rgba(23, 92, 245, 0.4);
      }
    }
  }

  &--blue-solid {
    color: #175CF5;

    & span {
      &::before {
        border-bottom: 1px solid rgba(23, 92, 245, 0.4);
      }
    }
  }

  &--white-solid {
    color: #ffffff;

    & span {
      &::before {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);;
      }
    }
  }

  &--black {
    color: #333333;

    & span {
      &::before {
        top: 85%;
        border-color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  &--size-52px {
    font-size: 52px;
    line-height: 43px;
  }

  &--size-22px {
    font-size: 22px;
  }
}

.link-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 460px;
  padding: 12px 22px;
  background: #FFFFFF;
  border-radius: 12px;
  font-weight: 400;
  font-size: 22px;
  color: #175CF5;
  transition: background-color 0.3s ease-in-out;

  & span {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      left: 0;
      bottom: 2px;
      width: 100%;
      height: 1px;
      background-color: #175CF5;
    }
  }

  &:hover {
    background-color: #DBDBDB;
  }
}

.button {
  max-width: fit-content;
  border: none;
  padding: 15px 37px;
  background: #175CF5;
  border-radius: 10px;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: #0a84ff;
  }

  &--small-black {
    padding: 15px 10px;
    background: #000000;

    &:hover {
      background: #828282;
    }
  }

  &--max-widht {
    max-width: 100%;
  }
}

.page-title {
  font-weight: 400;
  font-size: 52px;
  line-height: 63px;
  color: #333333;
  display: inline-flex;
  justify-content: flex-start;
  gap: 0 20px;
  flex-wrap: wrap;
  align-items: center;
  white-space: pre-line;

  //& img {
  //  margin: 0 20px;
  //
  //  &:first-child {
  //    margin-left: 40px;
  //  }
  //}

}

.beans-style {
  position: relative;
  font-family: Beans;
  font-weight: bold;


  &--page-title {
    font-size: 35px;
    bottom: -7px;
  }

  &--section-title {
    font-size: 18px;
    bottom: -3px;
  }
}

.page-description {
  max-width: 787px;
  font-weight: 400;
  font-size: 22px;
  line-height: 150.8%;
  color: #828282;
  display: flex;
  flex-direction: column;
  gap: 30px 0;

  &--width-850px {
    max-width: 850px;
  }
}

.section-title {
  max-width: 168px;
  font-weight: 400;
  font-size: 22px;
  line-height: 150.8%;
  color: #333333;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0 15px;

  &--width-500 {
    max-width: 500px;
  }
}

.opacity-animated {
  animation: 1.5s opacity-animated;
}

.decor-line {
  position: absolute;
  left: 5%;
  border-radius: 28px;
  min-height: 15px;
  z-index: 3;

  &--grey {
    background-color: #E8E8E8;
  }

  &--dark-grey {
    background-color: #333333;
  }

  &--blue {
    background-color: #175CF5;
  }
}

.checkbox {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #175CF5;
  border-radius: 50%;

  &--checked {
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top:50%;
      left:62%;
      transform:translate(-50%, -50%) rotate(305deg);
      width: 15px;
      height: 2px;
      border-radius: 2px;
      background: #175CF5;
    }
    &:after {
      content: '';
      position: absolute;
      top:60%;
      left:39%;
      transform:translate(-50%, -50%) rotate(322deg);
      width: 2px;
      height: 8px;
      border-radius: 2px;
      background: #175CF5;
    }
  }

  &--unchecked-red {
    border-color: #FF0200;
    transition: all 0.5s ease-in-out;
  }

  &--unchecked-black {
    border-color: #333333;
    cursor: pointer;
  }
}

.checkbox-btn {
  z-index: 1;
  position: relative;
  overflow: hidden;
  width: 57px;
  height: 33px;
  background: #E5E5E5;
  border-radius: 59px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &--checked {
    background: #00C873;
  }


  &__mark {
    position: absolute;
    z-index: 0;
    top: 2px;
    left: 2px;
    width: 29px;
    height: 29px;
    background: #FFFFFF;
    border-radius: 35px;
    transition: all 0.3s ease-in-out;

    &--checked {
      left: 26px;
    }
  }
}

@keyframes opacity-animated {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@media (max-width: 479px) {

  .container {
    width: 100%;
  }

  .page {
    height: calc(100vh - 20px);
    margin-top: 20px;

    &__item {
      padding: 19px 16px 30px 16px;

      //&:last-child {
      //  margin-bottom: 100px;
      //}
    }

    &-title {
      font-size: 35px;
      line-height: 42px;

      & img {
        max-height: 36px;
        max-width: 200px;
        margin: 0 10px;

        &:first-child {
          margin: 0 0 0 10px;
        }
      }
    }
  }

  .beans-style {
    &--page-title {
      font-size: 19px;
    }
  }
}

@media (max-width: 479px) {
  .page-title {
    font-size: 32px;
    line-height: 36px;
    gap: 0 19px;

    & img {

      &:first-child {
        margin-left: 20px;
      }
    }
  }

  .page-description {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .page-title {

    & img {
      max-width: 180px;

      &:first-child {
        margin-left: 10px;
      }
    }
  }

  .beans-style {
    &--page-title {
      font-size: 17px;
    }
  }
}
